.new-background-color{
    --background: #f15f20;
}

.title {
  color: white;
  font-size: 40px;
}

.joinCreate {
  --background: #ffae64;
}

.about {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.subtitle {
  color: white;
  font-size: 20px;
}

.center {
  margin: 0 auto;
}

.topThree {
  color: #ffae64;
  font-size: 30px;
  font-weight: bold;
}
